@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}

.conteiner{
    width: 100px;
    margin: auto;
    transition: 0.5;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.conteiner h1{
    color: #560bad;
}

.conteiner header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

.conteiner header .shopping {
    position: relative;
    text-align: right;
}

.shopping i{
    font-size: 3rem;
    color: #560bad;
    cursor: pointer;
    transition: all 0.25 ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.shopping i:hover{
    color: #6f20ca;
}

.shopping span{
    background: red;
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 4px 10px;
}