@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

/* Reseta margens, paddings e define a fonte padrão */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.header {
  width: 100%;
  padding: 1.3rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Fixar o header no topo da página */
  top: 0;
  z-index: 2;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header::before {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.9), transparent);
  transition: 0.5s;
  z-index: -1;
}

.header:hover::after {
  left: 100%;
}

html,
body {
  overflow-x: hidden;
}

.logo {
  font-size: 2rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
  transition: text-shadow 0.3s, font-size 0.2s;
}

.logo:hover {
  font-size: 2.02rem;
  color: #560bad;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, -1px 1px 0px #000, 1px -1px 0px #000;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 1.15rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  transition: color 0.3s, transform 0.2s;
}

.navbar a:hover {
  transform: translateY(-2px);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static; /* Remover o posicionamento relativo */
  transform: none; /* Remover o translate */
  margin-left: auto; /* Para alinhar corretamente no layout */
  margin-right: 100px;
}

.search-input {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: background-color 0.3s;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  font-size: 1rem;
  width: 500px;
}

.search-button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0.5rem;
  margin-left: -3rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.search-input::placeholder {
  color: #aaa;
}

.search-input:focus {
  background-color: white;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 3;
}

.suggestion {
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.no-suggestions {
  padding: 15px;
  text-align: center;
  color: #666;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 5px 0;
}

.no-suggestions i {
  font-size: 40px;
  color: #f44336;
  margin-bottom: 10px;
}

.no-suggestions p {
  font-size: 16px;
  font-weight: 500;
}

.user-icon {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: aliceblue;
  text-decoration: none;
}

.user-icon i {
  font-size: 40px;
}

.user-name {
  font-size: 1rem;
  color: aliceblue;
  margin-left: 0.8rem;
  white-space: nowrap;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 15%;
  font-size: 2.8rem;
  color: aliceblue;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.1rem;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}


/* Estilização da seção principal */
.offers-section {
  padding: 50px;
  background-color: #f0f0f0;
  display: flex;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
}

.center-text h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.offer-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-item {
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 25%; /* Reduzido o tamanho do card */
  height: 500px; /* Definida uma altura fixa para controlar o tamanho */
}

.card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem ainda preencha o espaço */
}

.offer-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #560bad;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

/* Estilos do rodapé */
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  z-index: 999;
}

.footer a {
  color: #560bad;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


/* produtos */

/* Estilos para centralização de texto */
.center-text {
  text-align: center; /* Centraliza o texto */
  margin: 20px 0; /* Espaço vertical */
}

.center-text h2 {
  font-size: 2.5em; /* Tamanho da fonte maior */
  font-weight: bold; /* Negrito */
  color: #333; /* Cor do texto */
  text-transform: uppercase; /* Texto em maiúsculas */
  position: relative; /* Para posicionar o pseudo-elemento */
}

.center-text h2 span {
  color: #560bad; /* Cor chamativa para "Produtos" */
}

.center-text h2::after {
  content: ""; /* Adiciona um pseudo-elemento */
  display: block;
  width: 50px; /* Largura da linha abaixo do texto */
  height: 4px; /* Altura da linha */
  background: #560bad; /* Cor da linha */
  margin: 10px auto; /* Centraliza a linha */
}

/* Estilos para produtos em destaque */
.trending-product {
  background-color: #f0f0f0;
  width: 100%;
}

/* Estilos para o ícone de compras */
.shopping {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.quantity {
  position: absolute;
  top: -5px; /* Levanta a posição */
  right: -15px;
  background-color: #ff0000; /* Cor de fundo da quantidade */
  color: white;
  padding: 4px 8px; /* Ajuste de padding */
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px; /* Largura mínima para garantir um círculo */
  min-height: 20px; /* Altura mínima para garantir um círculo */
}

.shopping i {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
}

.shopping i:hover {
  color: #6f20ca;
}

/* Estilos para o card de compras */
.card {
  position: fixed;
  top: 0;
  right: -500px;
  width: 400px;
  max-width: 80vw;
  background-color: #dadada;
  border-left: 1px solid #560bad;
  height: 100vh;
  transition: right 0.5s ease;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.active .card {
  right: 0; /* Exibe o card */
}

.card h1 {
  color: #560bad;
  font-weight: 300;
  margin: 0;
  padding: 0 20px;
}

/* Estilos para checkout */
.card .checkOut {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.btn, .closeShopping {
  background-color: #560bad;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  flex: 1;
  margin: 5px;
  font-size: 1.1rem;
  text-align: center;
}

.btn:hover, .closeShopping:hover {
  background-color: #6f20ca;
  transform: scale(1.05);
}

.closeShopping {
  background-color: #f44336;
}

.closeShopping:hover {
  background-color: #c62828;
}

/* Estilos para a lista de produtos */
.list .item {
  text-align: center;
  background-color: #efefef;
  padding: 10px; /* Padding reduzido */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo */
  height: 320px; /* Altura ajustada */
  width: 220px; /* Largura ajustada */
}

.list .item img {
  width: 80%; /* Largura reduzida da imagem */
  height: auto;
  max-height: 150px; /* Altura máxima reduzida */
  border-radius: 10px;
  margin-bottom: 5px; /* Espaço entre imagem e próximo item */
}

.list .item:hover {
  transform: scale(1.05); /* Efeito de hover */
}

.list .item .title {
  font-weight: 600;
  margin: 1px 0; /* Espaço reduzido */
  text-align: center; /* Centraliza o título */
  font-size: 1rem; /* Tamanho do título reduzido */
}

.list .item .price {
  margin: 3px 0;
  font-size: 1rem; /* Tamanho do preço reduzido */
  font-weight: 500;
  color: #560bad;
  border-radius: 5px;
  text-align: center;
}

.list .item:hover .title,
.list .item:hover .price {
  color: #1c1f25; /* Cor de hover */
}

.list .item button {
  background-color: #efefef;
  color: #560bad;
  font-size: 0.9rem; /* Tamanho da fonte do botão reduzido */
  font-weight: 600;
  width: 70%; /* Largura do botão ajustada */
  padding: 8px; /* Padding reduzido */
  border: 2px solid #560bad; /* Espessura da borda reduzida */
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-top: 5px;
}

.list .item button:hover {
  background-color: #560bad;
  color: #efefef; /* Cor de hover */
}

/* Estilos para a lista de itens do carrinho */
.listCard {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: auto; /* Permite rolagem */
}

.listCard li {
  display: grid;
  grid-template-columns: 80px 1fr 1fr; /* Layout em grid */
  align-items: center;
  color: #1c1f25;
  row-gap: 15px; /* Espaço entre linhas */
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.listCard li:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.listCard li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listCard li img {
  width: 100%; /* Imagem responsiva */
  border-radius: 5px;
}

/* Estilos para contagem e título do card */
.count {
  font-size: 1.5rem;
  margin: 3px;
}

.cardTitle {
  font-size: 1.2rem;
  padding-left: 10px;
}

.cardPrice {
  font-size: 1.2rem;
  color: #560bad;
  font-weight: 500;
}

/* Estilos para botão de adicionar */
.cardButton {
  width: 30px;
  height: 30px;
  color: #efefef;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #560bad;
  border: none;
  margin: auto;
  transition: background-color 0.3s;
}

.cardButton:hover {
  background-color: #6f20ca; /* Cor de hover */
}

.card .checkOut {
  margin-bottom: 10px; 
}

.listCard li .addMoreButton {
  background-color: #560bad;
  color: #efefef;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.listCard li .addMoreButton:hover {
  background-color: #6f20ca; /* Cor de hover */
}

/* Estilos para total */
.total {
  font-size: 1.5rem;
  font-weight: bold;
  color: #560bad;
  margin-top: 20px;
  text-align: center; /* Centraliza total */
}

/* Posicao do cartao de protudos*/

.container h1 {
    color: #560bad;
}

.container div {
    display: grid;
    grid-template-columns: 1fr 50px; 
}

.container .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Ajuste para se adaptar ao tamanho */
  gap: 20px;
  margin-top: 30px;
}

.container {
  width: 95%;
  margin: auto;
  transition: 0.5s;
}

/* Estilos para centralização de texto */
.center-text {
  text-align: center; /* Centraliza o texto */
  margin: 20px 0; /* Espaço vertical */
}

.center-text h2 {
  font-size: 2.5em; /* Tamanho da fonte maior */
  font-weight: bold; /* Negrito */
  color: #333; /* Cor do texto */
  text-transform: uppercase; /* Texto em maiúsculas */
  position: relative; /* Para posicionar o pseudo-elemento */
  width: 100%; /* Aumenta a largura do título para ocupar 100% do espaço disponível */
  display: inline-block; /* Permite que a largura do título seja aplicada corretamente */
}

.center-text h2 span {
  color: #560bad; /* Cor chamativa para "Produtos" */
}

.center-text h2::after {
  content: ""; /* Adiciona um pseudo-elemento */
  display: block;
  width: 50px; /* Largura da linha abaixo do texto */
  height: 4px; /* Altura da linha */
  background: #560bad; /* Cor da linha */
  margin: 10px auto; /* Centraliza a linha */
}