@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

/* Reseta margens, paddings e define a fonte padrão */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.header {
  width: 100%;
  padding: 1.3rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: fixed; /* Mudança de 'relative' para 'fixed' */
  top: 0;
  left: 0; /* Adiciona alinhamento à esquerda */
  z-index: 2;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header::before {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.9),
    transparent
  );
  transition: 0.5s;
  z-index: -1;
}

.header:hover::after {
  left: 100%;
}

html,
body {
  overflow-x: hidden;
}

.logo {
  font-size: 2rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
  transition: text-shadow 0.3s, font-size 0.2s;
}

.logo:hover {
  font-size: 2.02rem;
  color: #560bad;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, -1px 1px 0px #000,
    1px -1px 0px #000;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 1.15rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  transition: color 0.3s, transform 0.2s;
}

.navbar a:hover {
  transform: translateY(-2px);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  transform: none;
}

.search-input {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: background-color 0.3s;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  font-size: 1rem;
  width: 500px;
}

.search-button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0.5rem;
  margin-left: -3rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.search-input::placeholder {
  color: #aaa;
}

.search-input:focus {
  background-color: white;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 3;
}

.suggestion {
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.no-suggestions {
  padding: 15px;
  text-align: center;
  color: #666;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 5px 0;
}

.no-suggestions i {
  font-size: 40px;
  color: #f44336;
  margin-bottom: 10px;
}

.no-suggestions p {
  font-size: 16px;
  font-weight: 500;
}

.user-icon {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: aliceblue;
  text-decoration: none;
}

.user-icon i {
  font-size: 40px;
}

.user-name {
  font-size: 1rem;
  color: aliceblue;
  margin-left: 0.8rem;
  white-space: nowrap;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 15%;
  font-size: 2.8rem;
  color: aliceblue;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.1rem;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}

/* cartao de cadastro e de login */
.wrapper {
  width: 360px;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(50px);
  opacity: 90%;
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.1);
}

.wrapper .form {
  display: none;
}

.wrapper .form.active {
  display: block;
}

.wrapper h1 {
  text-align: center;
  color: #f5f5fa; /* Cor clara para o texto */
  font-weight: 500;
  margin-bottom: 30px;
}

.wrapper .input-box {
  position: relative;
  margin-bottom: 20px;
}

.wrapper .input-box input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
  color: black;
  font-size: 14px;
}

.wrapper .input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #6a0dad;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wrapper .remember-forgot label {
  display: flex;
  align-items: center;
  color: #f5f5fa; /* Cor clara */
  font-size: 14px;
  white-space: nowrap; /* Impede a quebra de linha */
}

.wrapper .remember-forgot a {
  text-decoration: none;
  color: #f5f5fa; /* Cor clara */
  font-size: 14px;
}

.remember-forgot label input {
  accent-color: #ffff;
  margin-right: 3px;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background-color: #f5f5fa; /* Botão com cor clara */
  color: #6a0dad; /* Texto roxo no botão */
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  text-transform: uppercase;
}

.wrapper button:hover {
  background-color: #6a0dad; /* Cor roxa no hover */
  color: #f5f5fa; /* Texto claro no hover */
  transition: 0.5s;
}

.wrapper .register-link p {
  color: #f5f5fa; /* Cor clara */
  font-size: 13px;
  text-align: center;
  white-space: nowrap; /* Impede a quebra de linha */
}

.wrapper .register-link p span {
  color: #f5f5fa; /* Texto claro */
  text-decoration: underline;
  cursor: pointer;
}

.wrapper .register-link p span:hover {
  color: #f5f5fa;
  transition: 0.2 ease;
}

#togglePassword {
  right: 50px;
  position: absolute;
  cursor: pointer;
}

#togglePasswordR {
  right: 50px;
  position: absolute;
  cursor: pointer;
}

#togglePasswordC {
  right: 50px;
  position: absolute;
  cursor: pointer;
}

#error-message {
  color: rgb(255, 0, 0);
  font-size: 14px;
  display: none;
}
