@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0e0e0; /* Cor clara para o fundo */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(240, 248, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.header:hover::after {
  left: 100%;
}

.logo {
  font-size: 2rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
}

.logo:hover {
  font-size: 2.02rem;
  text-shadow: 0px 0px 10px #000;
  transition: text-shadow 0.3s ease;
  transition: 0.2 ease;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 1.15rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  transition: 0.2 ease;
}

.navbar a:hover {
  font-size: 1.17rem;
  text-shadow: 0px 0px 10px #000;
  transition: text-shadow 0.3s ease;
  transition: 0.2 ease;
}

.teletransporte {
  display: flex;
  justify-content: space-between;
}

.navbar .teletransporte a:hover {
  font-size: 1.17rem;
  text-shadow: 0px 0px 10px #000;
  transition: text-shadow 0.3s ease;
  transition: 0.2 ease;
  text-decoration: underline 2.3px;
}

.user-icon {
  display: flex;
  align-items: center;
}

.user-icon i {
  font-size: 40px;
}

.user-name {
  font-size: 1.15rem;
  color: aliceblue;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: aliceblue;

  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: inline-flex;
  }

  nav.navbar {
    position: fixed;
    top: 100%;
    left: -100%;
    background: #030125;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 10%;
    z-index: 100;
    transition: 0.4s ease;
  }

  #check:checked ~ nav.navbar {
    left: 0;
  }

  nav.navbar a {
    font-size: 2rem;
    display: block;
    margin: 1.5rem 0;
  }
}

/* cartao de cadastro e de login */
.wrapper {
  width: 360px;
  background-color: #6a0dadc2; /* Cor roxa */
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.wrapper .form {
  display: none;
}

.wrapper .form.active {
  display: block;
}

.wrapper h1 {
  text-align: center;
  color: #f5f5fa; /* Cor clara para o texto */
  font-weight: 500;
  margin-bottom: 30px;
}

.wrapper .input-box {
  position: relative;
  margin-bottom: 20px;
}

.wrapper .input-box input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
  color: black;
  font-size: 14px;
}

.wrapper .input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #6a0dad;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wrapper .remember-forgot label {
  display: flex;
  align-items: center;
  color: #f5f5fa; /* Cor clara */
  font-size: 14px;
  white-space: nowrap; /* Impede a quebra de linha */
}

.wrapper .remember-forgot a {
  text-decoration: none;
  color: #f5f5fa; /* Cor clara */
  font-size: 14px;
}

.remember-forgot label input {
  accent-color: #ffff;
  margin-right: 3px;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background-color: #f5f5fa; /* Botão com cor clara */
  color: #6a0dad; /* Texto roxo no botão */
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  text-transform: uppercase;
}

.wrapper button:hover {
  background-color: #6a0dad; /* Cor roxa no hover */
  color: #f5f5fa; /* Texto claro no hover */
  transition: 0.5s;
}

.wrapper .register-link p {
  color: #f5f5fa; /* Cor clara */
  font-size: 13px;
  text-align: center;
  white-space: nowrap; /* Impede a quebra de linha */
}

.wrapper .register-link p span {
  color: #f5f5fa; /* Texto claro */
  text-decoration: underline;
  cursor: pointer;
}

.wrapper .register-link p span:hover {
  color: #f5f5fa;
  transition: 0.2 ease;
}

#togglePassword {
  right: 50px;
  position: absolute;
  cursor: pointer;
}

#togglePasswordR {
  right: 50px;
  position: absolute;
  cursor: pointer;
}

#togglePasswordC {
  right: 50px;
  position: absolute;
  cursor: pointer;
}

#error-message {
  color: rgb(255, 0, 0);
  font-size: 14px;
  display: none;
}
