@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

/* Reseta margens, paddings e define a fonte padrão */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

.header {
  width: 100%;
  padding: 1.3rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  position: absolute; /* Mudança de 'relative' para 'fixed' */
  top: 0;
  left: 0; /* Adiciona alinhamento à esquerda */
  z-index: 2;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header::before {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.9),
    transparent
  );
  transition: 0.5s;
  z-index: -1;
}

.header:hover::after {
  left: 100%;
}

html,
body {
  overflow-x: hidden;
}

.logo {
  font-size: 2rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
  transition: text-shadow 0.3s, font-size 0.2s;
}

.logo:hover {
  font-size: 2.02rem;
  color: #560bad;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, -1px 1px 0px #000,
    1px -1px 0px #000;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 1.15rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  transition: color 0.3s, transform 0.2s;
}

.navbar a:hover {
  transform: translateY(-2px);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  transform: none;
}

.search-input {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: background-color 0.3s;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  font-size: 1rem;
  width: 500px;
}

.search-button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0.5rem;
  margin-left: -3rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.search-input::placeholder {
  color: #aaa;
}

.search-input:focus {
  background-color: white;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 3;
}

.suggestion {
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.no-suggestions {
  padding: 15px;
  text-align: center;
  color: #666;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 5px 0;
}

.no-suggestions i {
  font-size: 40px;
  color: #f44336;
  margin-bottom: 10px;
}

.no-suggestions p {
  font-size: 16px;
  font-weight: 500;
}

.user-icon {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: aliceblue;
  text-decoration: none;
}

.user-icon i {
  font-size: 40px;
}

.user-name {
  font-size: 1rem;
  color: aliceblue;
  margin-left: 0.8rem;
  white-space: nowrap;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 15%;
  font-size: 2.8rem;
  color: aliceblue;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.1rem;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}

/* Estilização da seção principal */
.offers-section {
  padding: 50px;
  background-color: #f0f0f0;
  display: flex;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
}

.center-text h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.offer-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-item {
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 25%;
  height: 500px;
}

.card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #560bad;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

/* Estilos do rodapé */
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  z-index: 999;
}

.footer a {
  color: #560bad;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Compras */

body > header {
  background: #111;
  color: white;
  font-size: 24px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body > main {
  background: #fff;
  padding: 0 30px 30px;
  max-width: 1200px; /* Defina a largura máxima desejada */
  width: 100%; /* Para garantir que preencha a largura disponível */
  margin: 0 auto; /* Centraliza o main na página */
}

body > main .page-title {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
}

body > main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > main .content section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

body > main .content aside {
  min-width: 250px;
}

button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 3px solid #eee;
}

table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #666;
}

table tbody tr {
  border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
  border: 0;
}

table tbody tr td {
  padding: 30px 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product img {
  border-radius: 6px;
  width: 150px;
}

.product .info {
  margin-left: 20px;
}

.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product .info .category {
  color: #666;
}

.qty {
  background: #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}

.qty span {
  margin: 0 10px;
}

.qty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}

.qty button:hover {
  background: #ddd;
}

.remove {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
}

.remove:hover {
  background: #ddd;
}

aside {
  margin-left: 30px;
}

aside .box {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #222;
}

aside .box header {
  padding: 15px 10px;
  font-size: 18px;
}

aside .box .info {
  padding: 20px;
  font-size: 16px;
}

aside .box .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

aside .box .info > div:last-child {
  margin: 0;
}

aside .box .info button {
  color: #7a42f5;
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
}

aside .box footer {
  padding: 15px 20px;
  background: #ddd;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

aside > button {
  border: 0;
  padding: 15px 0;
  color: white;
  background: #7a42f5;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

aside > button:hover {
  background: #8857f3;
}
/*# sourceMappingURL=styles.css.map */

.info {
  margin-bottom: 1rem;
}

.cep-input {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.cep-input input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cep-input button {
  background-color: #7a42f5;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.cep-input button:hover {
  background-color: #7a42f5;
}

.remember-cep {
  font-size: 0.9rem;
  color: #7a42f5;
  text-decoration: none;
  margin-bottom: 1rem;
  display: block;
}

.address {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.vendor {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.shipping-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.option:hover {
  border-color: #7a42f5;
}

.option input {
  margin-right: 1rem;
}

.option-info {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.price {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

input[type="radio"] {
  accent-color: #7a42f5;
}

/* footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
} */

button.finalizar-compra {
  width: 100%;
  background-color: #7a42f5;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

button.finalizar-compra:hover {
  background-color: #7a42f5;
}

button {
  background-color: #7a42f5;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

button:hover {
  background-color: #6b38e0;
}

.Icons-title {
  display: flex;
  align-items: center; /* Alinha o ícone e o texto verticalmente */
  border-bottom: 1px solid #ccc;
}

.Icons-title i {
  margin-left: 10px;
  font-size: 24px; /* Tamanho do ícone */
  color: #7a42f5; /* Cor do ícone (pode ajustar conforme sua preferência) */
}

.Icons-title header {
  font-size: 18px;
  font-weight: bold;
}

.info p {
  color: #666;
}

/* Estilos do rodapé */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer-text h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: transparent; /* Fundo escuro */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  max-width: 100%;
  position: relative;
}

/* Efeito de blur no fundo */
/* body.modal-open {
  filter: blur(5px);
} */

#paymentModal.modal {
  backdrop-filter: blur(5px);
}

/* Botão de fechar o modal */
.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.container {
  min-height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 60px;
}

.container form {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
  padding-top: 160px;
}

.container form .inputBox {
  margin-top: 20px;
}

.container form .inputBox span {
  display: block;
  color: #999;
  padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #444;
}

.container form .flexbox {
  display: flex;
  gap: 15px;
}

.container form .flexbox .inputBox {
  flex: 1 1 150px;
}

.container form .submit-btn {
  width: 100%;
  background: linear-gradient(45deg, rgb(110, 63, 155), #7a42f5);
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}

.container form .submit-btn:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}

.container .card-container {
  margin-bottom: -150px;
  position: relative;
  height: 250px;
  width: 400px;
}

.container .card-container .front {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgb(110, 63, 155), #7a42f5);
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.4s ease-out;
}

.container .card-container .front .image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.container .card-container .front .image img {
  height: 50px;
}

.container .card-container .front .card-number-box {
  padding: 30px 0;
  font-size: 22px;
  color: #fff;
}

.container .card-container .front .flexbox {
  display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
  margin-right: auto;
}

.container .card-container .front .flexbox .box {
  font-size: 15px;
  color: #fff;
}

.container .card-container .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgb(110, 63, 155), #7a42f5);
  border-radius: 5px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(180deg);
  transition: transform 0.4s ease-out;
}

.container .card-container .back .stripe {
  background: #000;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}

.container .card-container .back .box {
  padding: 0 20px;
}

.container .card-container .back .box span {
  color: #fff;
  font-size: 15px;
}

.container .card-container .back .box .cvv-box {
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color: #333;
  background: #fff;
  border-radius: 5px;
  width: 100%;
}

.container .card-container .back .box img {
  margin-top: 30px;
  height: 30px;
}
