@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background: linear-gradient(135deg,#5312e0, #6729ec, #7a42f5, #b583f6, #d0b2f8 ); Gradiente do roxo escuro para um roxo mais claro */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; /* Para manter a navbar no topo */
  line-height: 1.5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(240, 248, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.header:hover::after {
  left: 100%;
}

.logo {
  font-size: 2rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
}

.logo:hover {
  font-size: 2.02rem;
  text-shadow: 0px 0px 10px #000;
  transition: text-shadow 0.3s ease;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 1.15rem;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  font-size: 1.17rem;
  text-shadow: 0px 0px 10px #000;
  transition: text-shadow 0.3s ease;
}

.user-icon {
  display: flex;
  align-items: center;
}

.user-icon i {
  font-size: 40px;
}

.user-name {
  font-size: 1.15rem; 
  color: aliceblue;
  margin-left: 2rem; 
  margin-top: 0.5rem; 
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: aliceblue;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }
  
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.1rem;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}
    
section {
  display: flex;
  flex: 1; /* Faz o contêiner ocupar todo o espaço restante */
  height: calc(100vh - 90px); /* Subtrai a altura da navbar */
  margin-top: 90px; /* Altura da navbar */
  margin-left: 100px;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth:nth-child(1),
.img-item:nth:nth-child(2),
.img-item:nth:nth-child(3){
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content{
  padding: 2rem 1rem;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.product-title::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #7a42f5;
  color: aliceblue;
  padding: 0 0.3rem;
  transition: all 0.5 ease;
  border-radius: 5px;
}

.product-link:hover {
  opacity: 0.9;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #252525
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.product-price span {
  font-weight: 400;
}

.last-price span {
  text-decoration: line-through;
  color: gray;
}

.new-price span {
  color: #7a42f5
}

.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}

.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(img/check-circle-solid-24.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid#7a42f5;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input{
  width: 60px;
  }
  .purchase-info .btn {
  cursor: pointer;
  color: #ffff
  }
  .purchase-info.btn:first-of-type{
  background:#256eff;
  }
  .purchase-info .btn:last-of-type{
  background: #7a42f5
  }
  .purchase-info.btn:hover{
  opacity: 0.9;
  }
  .social-links{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  }

  .social-links i {
    font-size: 23px;
  }
  .social-links a {
  display: inline-flex; /* Exibe os ícones em linha */
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #7a42f5;
  border: 1px solid #7a42f5;
  margin: 0 0.2rem; /* Espaçamento entre os ícones */
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.2rem; /* Ajusta o tamanho dos ícones */
  transition: background 0.3s, color 0.3s;
  }

.social-links a:hover {
  background: #7a42f5;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px) {
    .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
    }
    .card-wrapper {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .product-imgs {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .product-content {
      padding-top: 0;
    }
}