@font-face {
  font-family: Comfortaa;
  src: url("fonts/Comfortaa-Regular.ttf");
}

.lado {
  width: 45%;
  height: 1040px;
  background: #7209b7;
}

body {
  background-color: #2e2b2b;
}

.Login {
  width: 134px;
  height: 76px;
  margin-right: 20%;
  flex-shrink: 0;
  border-radius: 42px 1px 0px 42px;
  background: #2e2b2b;
  border: #2e2b2b;
  color: aliceblue;
  font-family: "Comfortaa";
  font-size: 20px;
}

.Cadrastrar {
  width: 134px;
  height: 76px;
  margin-right: 20%;
  flex-shrink: 0;
  border-radius: 42px 1px 0px 42px;
  background: #2e2b2b;
  border: #2e2b2b;
  color: aliceblue;
  font-family: "Comfortaa";
  font-size: 16px;
  opacity: 0.7;
}

.Posicao-Login {
  position: relative;
  top: 30%;
  left: 83%;
  padding: 10px;
}

.Posicao-Cadrasto {
  position: relative;
  top: 31%;
  left: 83%;
  padding: 10px;
}


.input {
    text-align: center;
    margin-left: 5%;
    margin-right: 20px;
    background-color: transparent;
    border: none; /* Remove todas as bordas */
    border-bottom: 2px solid aliceblue; /* Adiciona uma linha sublinhada */
    color: aliceblue;
    width: 200px; /* Ajuste o valor conforme necessário */
    height: 1px; /* Ajuste o valor conforme necessário */
    padding: 10px; /* Ajuste o valor conforme necessário */
    border-radius: 0; /* Garante que o border-radius não afete a borda inferior */
    outline: none; /* Remove o contorno ao focar no campo */
  }
  
label{
    font-family: comfortaa;
    font-size: 18px;
    color: aliceblue;
}
  

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.lado-d {
  width: 45%;
}

.container {
  display: flex;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
