@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

/* Reseta margens, paddings e define a fonte padrão */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0; /* Cor de fundo do site */
}

/* Estilização do header */
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 3%; /* Espaçamento ampliado */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Fundo escuro e semi-transparente */
  backdrop-filter: blur(15px);
  transition: 0.5s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para profundidade */
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header::before {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.9), transparent);
  transition: 0.5s;
  z-index: -1;
}

.header:hover::after {
  left: 100%;
}

html, body {
  overflow-x: hidden; /* Isso remove a rolagem horizontal */
}


.logo {
  font-size: 2rem;
  color: aliceblue; /* Cor do logo */
  text-decoration: none;
  font-weight: 700;
}

.logo:hover {
  font-size: 2.02rem; /* Leve aumento do logo ao passar o mouse */
  color: #560bad;
  transition: text-shadow 0.3s, font-size 0.2s;
  text-shadow: 1px 1px 0px #000, -1px -1px 0px #000, /* sombra superior esquerda */
               -1px 1px 0px #000, 1px -1px 0px #000; /* sombra inferior direita */
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 1.15rem;
  color: aliceblue; /* Cor dos links da navbar */
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem; /* Espaçamento entre os links */
  transition: color 0.3s, transform 0.2s; /* Transição suave */
}

.navbar a:hover {
  transform: translateY(-2px); /* Eleva o texto ao passar o mouse */
}

.search-container {
  display: flex;
  align-items: center;
  position: relative; /* Para posicionamento da lista de sugestões */
  margin-right: 2rem; /* Espaço entre a barra de pesquisa e os ícones */
  margin-left: 2rem; /* Aumentado para mover mais à direita */
}

.search-input {
  padding: 0.6rem 1rem; /* Adiciona espaçamento interno */
  border: none;
  border-radius: 30px; /* Arredonda as bordas */
  outline: none; /* Remove a borda padrão */
  transition: background-color 0.3s; /* Animação de transição */
  background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo */
  color: #333; /* Cor do texto */
  font-size: 1rem; /* Tamanho da fonte */
  width: 300px; /* Largura da barra de pesquisa */
}

.search-input::placeholder {
  color: #aaa; /* Cor do placeholder */
  opacity: 1; /* Aumenta a opacidade do placeholder */
}

.search-input:focus {
  background-color: white; /* Foco na barra de pesquisa */
}

.search-button {
  background-color: transparent; /* Remove a cor de fundo do botão */
  border: none; /* Remove a borda do botão */
  color: black; /* Altera a cor do ícone da lupa para preto */
  padding: 0.5rem; /* Adiciona um pouco de espaçamento interno */
  margin-left: -3rem; /* Ajusta o espaço para que a lupa fique no final do input */
  cursor: pointer;
  transition: background-color 0.3s; /* Transição suave na cor do botão */
  font-size: 1.5rem; /* Aumenta o tamanho da lupa */
}

.suggestions {
  position: absolute;
  top: 100%; /* Fica abaixo da barra de pesquisa */
  left: 0;
  right: 0;
  background-color: white; /* Fundo branco para sugestões */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
  z-index: 99; /* Fica acima de outros elementos */
}

.suggestion {
  padding: 0.8rem 1rem; /* Espaçamento interno para cada sugestão */
  cursor: pointer; /* Cursor de pointer ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave de fundo */
}

.suggestion:hover {
  background-color: #f0f0f0; /* Fundo leve ao passar o mouse */
}

.no-suggestions {
  padding: 15px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
  color: #666; /* Cor do texto */
  background-color: #f9f9f9; /* Fundo suave */
  border: 1px dashed #ccc; /* Borda pontilhada */
  border-radius: 10px; /* Bordas arredondadas */
  margin: 5px 0; /* Margem superior e inferior */
  display: flex;
  flex-direction: column; /* Para empilhar o ícone e o texto */
  align-items: center; /* Centraliza os itens */
}

.no-suggestions i {
  font-size: 40px; /* Tamanho do ícone */
  color: #f44336; /* Cor do ícone */
  margin-bottom: 10px; /* Espaço entre o ícone e o texto */
}

.no-suggestions p {
  font-size: 16px; /* Tamanho do texto */
  font-weight: 500; /* Peso do texto */
}

.user-icon {
  display: flex;
  align-items: center;
  margin-left: 2rem; /* Espaçamento entre os ícones */
  color: aliceblue; /* Cor do ícone definida como aliceblue */
  text-decoration: none; /* Remove sublinhado dos ícones */
}

.user-icon i {
  font-size: 40px; /* Aumentado o tamanho do ícone */
}

.user-name {
  font-size: 1.15rem; /* Tamanho da fonte do nome do usuário */
  color: aliceblue; /* Cor do texto do nome do usuário */
  margin-left: 0.8rem; /* Espaçamento entre o ícone e o texto */
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 15%; /* Aumentado para mover os ícones mais para a esquerda */
  font-size: 2.8rem; /* Aumentado o tamanho dos ícones */
  color: aliceblue; /* Cor dos ícones definida como aliceblue */
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: flex; /* Mudei para flex para permitir a organização vertical */
    flex-direction: column; /* Itens em coluna para disposição vertical */
    align-items: center; /* Centraliza os itens na horizontal */
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0; /* Mantém a altura inicial */
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Mantém os itens invisíveis inicialmente */
    transition: max-height 0.3s ease; /* Transição de altura */
  }

  #check:checked ~ .navbar {
    max-height: 500px; /* Altura máxima para mostrar todos os itens */
  }

  /* Animação para os itens do menu */
  .navbar a {
    display: block; /* Garante que cada item ocupe uma linha */
    font-size: 1.1rem;
    margin: 1.1rem;
    text-align: center;
    transform: translateY(-20px); /* Inicia acima da posição final */
    opacity: 0; /* Começa invisível */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animação para transformação e opacidade */
  }

  /* Ao abrir o menu, faz os itens deslizarem para baixo */
  #check:checked ~ .navbar a {
    transform: translateY(0); /* Move para a posição original */
    opacity: 1; /* Torna visível */
    transition-delay: calc(0.15s * var(--i)); /* Diferencia o tempo de espera para cada item */
  }

  /* Define a variável de índice para cada item do menu */
  .navbar a:nth-child(1) { --i: 0; }
  .navbar a:nth-child(2) { --i: 1; }
  .navbar a:nth-child(3) { --i: 2; }
  .navbar a:nth-child(4) { --i: 3; }
  .navbar a:nth-child(5) { --i: 4; }
}




/* Estilização da seção principal */
.main-home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
}

.main-image {
  flex: 1;
  background-image: url(img/pc\ tela\ principal.png);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 100%;
}

.main-text {
  flex: 1;
  text-align: left;
  padding: 2rem;
  color: #333c56;
  z-index: 1;
}

.main-text h5 {
  color: #7a42f5;
  font-size: 16px;
  text-transform: capitalize;
}

.main-text h1 {
  color: #000;
  font-size: 65px;
  font-family: "Jost", sans-serif;
  text-transform: capitalize;
  line-height: 1.1;
  font-weight: 600;
  margin: 6px 0 10px;
}

.main-text p {
  color: #333c56;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-style: italic;
  margin-bottom: 20px;
}

.main-btn {
  display: inline-block;
  color: #111;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  border: 2px solid #111;
  padding: 12px 25px;
  transition: all 0.42s ease;
}

.main-btn:hover {
  background-color: #000;
  color: #f0f0f0;
}

.main-btn i {
  vertical-align: middle;
}

.down-arrow {
  position: absolute;
  top: 85%;
  right: 11%;
}

.down i {
  font-size: 30px;
  color: #2c2c2c;
  border: 2px #2c2c2c;
  border-radius: 50px;
  padding: 12px;
}

.down i:hover {
  background-color: #2c2c2c;
  color: #fff;
  transition: all .42s ease;
}

/* Responsividade da seção principal */
@media (max-width: 1440px) {
  .main-home {
    flex-direction: column;
    text-align: center;
  }

  .main-text {
    padding: 1rem;
    margin-top: 25vh;
  }

  .main-image {
    background-size: contain;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .main-home {
    height: auto;
    flex-direction: column;
    padding: 2rem;
  }

  .main-text h1 {
    font-size: 40px;
  }

  .main-image {
    background-size: 50%;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .main-home {
    padding: 1rem;
  }

  .main-text {
    padding: 0.5rem;
  }

  .main-text h1 {
    font-size: 32px;
  }

  .main-text p {
    font-size: 14px;
  }

  .main-btn {
    font-size: 12px;
  }

  .main-image {
    background-size: 60%;
    height: 250px;
  }
}

@media (max-width: 480px) {
  .main-home {
    flex-direction: column;
  }

  .main-text {
    padding: 0.5rem;
  }

  .main-text h1 {
    font-size: 20px;
  }

  .main-text p {
    font-size: 10px;
  }

  .main-btn {
    font-size: 8px;
    padding: 8px 15px;
  }

  .main-image {
    background-size: 40%;
    height: 150px;
  }
}

/* Estilos da seção de produtos em destaque */
.trending-product {
  padding: 50px;
  background-color: #fff;
}

.center-text {
  text-align: center;
  margin-bottom: 30px;
}

.center-text h2 {
  font-size: 28px;
  color: #333;
}

.center-text span {
  color: #f00;
}

/* Estilos do rodapé */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer-text h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 95%;
  margin: auto;
  transition: 0.5s;
}

.container h1 {
  color: #560bad;
}

.container header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}

.container header .shopping {
  position: relative;
  text-align: right;
}

.shopping i {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
}

.shopping i:hover {
  color: #6f20ca;
}

.shopping span {
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -5px;
  left: 80%;
  padding: 3px 10px;
}

.container .list {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Limita a 6 colunas */
  gap: 20px;
  margin-top: 50px;
}

.card {
  position: fixed;
  top: 0;
  right: -500px;
  width: 400px;
  max-width: 80vw;
  background-color: #dadada;
  border-left: 1px solid #560bad;
  height: 100vh;
  transition: right 0.5s ease;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.active .card {
  right: 0;
}

.card h1 {
  color: #560bad;
  font-weight: 300;
  margin: 0;
  padding: 0 20px; 
}

.card .checkOut {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.btn, .closeShopping {
  background-color: #560bad;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  flex: 1;
  margin: 5px; 
  font-size: 1.1rem; 
  text-align: center; 
}

.btn:hover, .closeShopping:hover {
  background-color: #6f20ca;
  transform: scale(1.05);
}

.closeShopping {
  background-color: #f44336;
}

.closeShopping:hover {
  background-color: #c62828;
}

.list .item {
  text-align: center;
  background-color: #efefef;
  padding: 20px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}

.list .item:hover {
  transform: scale(1.05);
}

.list .item img {
  width: 80%;
  height: auto;
  max-height: 150px;
  border-radius: 10px; 
  margin-bottom: 10px; 
}

.list .item .title {
  font-weight: 600;
  margin: 10px 0;
}

.list .item .price {
  margin: 10px 0;
  font-size: 1.2rem; 
  font-weight: 500; 
  color: #560bad; 
  border-radius: 5px; 
  text-align: center; 
}

.list .item:hover .title,
.list .item:hover .price {
  color: #1c1f25; 
}

.list .item button {
  background-color: #efefef;
  color: #560bad;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  border: 3px solid #560bad;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-top: auto; 
}

.list .item button:hover {
  background-color: #560bad;
  color: #efefef;
}

.listCard {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  max-height: 400px; 
  overflow-y: auto; 
}

.listCard li {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  border-bottom: 1px solid #ccc; 
}

.total {
  margin-top: 10px; 
  font-weight: bold; 
}
