@font-face {
  font-family: Comfortaa;
  src: url("fonts/Comfortaa-Regular.ttf");
}

#Cabecario {
  background-color: #7209b7;
  height: 130px;
  width: 100%;
  box-sizing: border-box;
  h5 {
    margin-left: 5%;
    margin-top: 2%;
    font-family: "Comfortaa";
    font-size: 24px;
    color: white;
  }
  .barra-pesquisa {
    position: absolute;
    top: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: aliceblue;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
  }
  .botao-pesquisa {
    color: #7209b7;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
  }
  .pesquisa-texto {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: aliceblue;
    font-size: 16px;
    transition: 0.4;
    line-height: 40px;
    width: 500px;
  }

  }

  img {
    max-height: 260px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }


body {
  background-color: #757575;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
